# Ignorar a pasta node_modules
node_modules/

# Ignorar a pasta qa e seus subdiretórios backend e frontend
qa/
qa/backend/
qa/frontend/
screenshots/
# Ignorar arquivos de mapeamento de elementos de página
Mapeando elementos.txt
Mapeando elementos page login.txt

venv/